myflow-zk/src/main/resources/META-INF/namespace/myfac.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://myfac.myflow.com/schema/myfac"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        targetNamespace="http://myfac.myflow.com/schema/myfac"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    
    <xsd:element name="client">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="host" type="xsd:string" use="required" />
                    <xsd:attribute name="num" type="xsd:string" use="required" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    
    <!--<xsd:element name="placeholder">
        <xsd:complexType>
            <xsd:attribute name="registry-center-ref" type="xsd:string" use="required" />
            <xsd:attribute name="order" type="xsd:integer" />
        </xsd:complexType>
    </xsd:element>-->
</xsd:schema>
